/*
Original Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

@media screen {

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #59A80F;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  font-weight: normal;
  color: #3E3E3E;
  line-height: 1.1;
}

h1 {
  border-bottom: 1px solid #1A8922;
  font-size: 1.5em;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  border-bottom: 1px solid #1A8922;
  display: inline-block;
  font-size: 1.1em;
}

h4 {
  display: block;
  border: none;
  font-weight: bold;
  font-size: 1.1em;
}

h5 {
  display: block;
  font-size: 1em;
  border: none;
}

h6 {
  font-size: 0.9em;
  display: block;
  border: none;
}

ul, ol, p, td, dd, dt {
  font-size: 0.85em;
}

ul {
  margin: 0 0 0.5em;
  list-style: none;
}

ol {
  margin: 0 0 0.5em 2em;
}

p {
  margin: 0 0 0.5em;
}

pre {
  font-size: 85%;
  overflow: hidden;
}

::-selection {background: #777; color:#FFF;}
::-moz-selection {background: #777; color:#FFF;}

a:link {
  color: #FF6600;
}

a:visited {
  color: #FF6600;
}

a:hover, a:active {
  text-decoration: none;
}

img {
  border: none;
}

img.left {
  float: left;
  margin-right: 15px;
}

img.right {
  float: right;
  margin-left: 15px;
}

#content img {
  -moz-box-shadow: 3px 3px 4px #aaa;
  -webkit-box-shadow: 3px 3px 4px #aaa;
  box-shadow: 3px 3px 4px #aaa;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
  }

#content .float-left img, #content .searchresult img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#ffffff')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#ffffff');
  }

/* Header */

#header {
  width: 74%;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
}

span.exit-link {
  font-size: 80%;
  padding-left: 0.2em;
}

.exit-link a {
  background-image: url(images/upalevel.png);
  background-repeat: no-repeat;
  background-position: 1px 1px;
  color: #494949;
  text-decoration: underline;
  padding-left: 20px;
}

#logo h2 {
  margin-top: -10px;
  font-size: 12px;
  color: #A0A0A0;
}

/* Menu */

#menu {
  float: right;
}

#menu ul {
  margin: 0;
  padding: 15px 0 0 0;
  list-style: none;
}

#menu li {
  display: inline;
}

#menu a {
  display: block;
  float: left;
  margin-left: 30px;
  padding: 7px;
  text-decoration: underline;
  font-size: 13px;
  color: #FF6600;
}

#menu a:hover {
  color: #FF3300;
  text-decoration: underline;
}

/* Page */

#site {
  background-color: #FCFCFC;
  background-image: url(images/site_bg.png);
  background-position: top left;
  background-repeat: repeat-x;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative; /* Required to absolutely position the footer */
}

#page {
  width: 74%;
  margin: 0 auto 35px;
  padding-bottom: 60px; /* This should match the height of the footer */
}

#content ul {
  list-style: disc;
  margin-left: 1em;
}

/* Content */

#content {
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  float: left;
  width: 70%;
}

/* Post */

.post {
}

.post .title {
  margin-bottom: 20px;
  padding-bottom: 5px;
  background: url(images/img03.gif) repeat-x left bottom;
}

.post .entry {
}

.post .meta {
  padding: 15px 0 60px 0;
  background: url(images/img03.gif) repeat-x;
}

.post .meta p {
  margin: 0;
  line-height: normal;
  color: #999999;
}

.post .meta .byline {
  float: left;
}

.post .meta .links {
  float: right;
}

.post .meta .more {
  padding: 0 20px 0 18px;
  background: url(images/img06.gif) no-repeat left center;
}

.post .meta .comments {
  padding-left: 22px;
  background: url(images/img07.gif) no-repeat left center;
}

.post .meta b {
  display: none;
}

/* Sidebar */

#sidebar {
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  float: right;
  padding: 15px;
  width: 23%;
  background: #fff;
}
#sidebar input[type="text"] {
  width: 67%;
}

#sidebar h2 {
  border-bottom: 1px solid #1A8922;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.1em;
}

#sidebar ul {
  font-size: 0.9em;
  margin: 0; padding: 0;
}

#sidebar li {
  margin-bottom: 25px;
}

#sidebar li ul li.level-0 {
  background-image: url(images/bullet_triangle_green.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
  padding: 5px 6px 5px 25px;
  margin: 0;
}

#sidebar li ul li.level-0:hover, #sidebar li ul li.selected {
  background-image: url(images/bullet_triangle_toggled.png);
  background-repeat: no-repeat;
  background-position: 4px 7px;
}

#sidebar li ul li.level-1 {
  background-image: url(images/bullet_triangle_green.png);
  background-repeat: no-repeat;
  background-position: 1px 7px;
  font-size: 1.05em;
  margin: 0;
  padding: 6px 6px 6px 20px;
}

#sidebar li ul li.last {
  border: 1px solid rgba(0,0,0,0.3);
}

#sidebar ul li h2 a, #sidebar li ul li a {
  color: #333;
  text-decoration: none;
}

#sidebar li li.level-0 a:hover {
  text-decoration: underline;
}

/* Silva menu styling */

/* navigation depth styling */

#sidebar ul.navigation-level-1, #sidebar ul.navigation-level-2,
#sidebar ul.navigation-level-3 {
  margin-top: 0.5em;
  margin-left: 1em;
}

#navigation-menu li a.selected {
  color: #00a200;
  font-weight: bold;
}

/* Search */

#search {
}

#search h2 {
  margin-bottom: 20px;
}

#s {
  width: 120px;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #F0F0F0;
}

#x {
  padding: 3px;
  border: none;
  font-size: 11px;
  color: #4F4F4F;
}

.searchform td {
  vertical-align: middle;
}

/* Boxes */

.box1 {
  padding: 4px 20px 20px;
}

.box2 {
  color: #BABABA;
}

.box2 h2 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #FFFFFF;
}

.box2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
  color: #EDEDED;
}

p.annotation {
  clear: both;
  font-size: 0.75em;
  margin-bottom: 20px;
  padding-top: 0.5em;
  font-style: italic;
}

/* Footer */

#footer {
  background: #59A80F;
  height: 60px; /* Define height of the footer */
  position: absolute; bottom: 0; left: 0;
  width: 100%;
}

#footer .wrap {
  margin: 0 auto;
}

#legal {
  clear: both;
  color: #EEE;
  font-size:13px;
  margin-top: 15px;
  text-align: center;
}

#legal a {
  color: #EEE;
}

#fbox1, #fbox2, #fbox3 {
  float: left;
}

#fbox1 {
  width: 310px;
}

#fbox2 {
  width: 200px;
  padding-left: 70px;
}

#fbox3 {
  width: 200px;: 38
  padding-left: 70px;
}

/* Forms */

form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input, textarea, select {
  padding: 0.1em;
  color: #333;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

input[type="text"], textarea, input[type="password"] {
  border: 1px solid #777;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  margin: 0.1em 0;
}
input[type="text"]:hover, textarea:hover, input[type="password"]:hover {
  border: 1px solid #000
}

input[type="submit"], input[type="button"] {
  background: #696969;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#797979));
    background-image: -webkit-linear-gradient(top, #696969, #797979);
    background-image: -moz-linear-gradient(top, #696969, #797979);
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#797979');
    background-image: -o-linear-gradient(top, #696969, #797979);
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 8px;
  color: white;
}

input[type="submit"]:hover, input[type="submit"]:focus,
input[type="button"]:hover, input[type="button"]:focus {
  background: #519A0F;
}

label {
  font-weight: bold;
}

/* Login form */

div.form {
  width: 30em;
  margin: 1em 0;
  padding: 0.2em 0.5em 0.3em;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

div.login-form div.form-label label {
  font-size: 0.9em;
}

/* for a stacked form remove floats and heights */
div.form-title {
  height: 1.6em;
  font-size: 15px;
  font-weight: bold;
}
/* element borders */

div.form-label {
  float: left;
  width: 7em;
  height: 2em;
}
div.form-label label {
  display: block;
  margin: 0.2em 0 0;
  font-weight: normal;
}
div.form-field {
  height: 2em;
}
div.form-field input[type="text"],
  div.form-field input[type="password"] {
  float: right;
  width: 22em;
}
/* if stacked
div.form-actions {
  margin: 0.5em 0 0;
}*/
div.form-actions input.submit {
  float: right;
  padding: 0.1em 1.5em;
  font-weight: bold;
}
div.form-actions input.cancel {
  padding: 0.1em 1.5em;
}

/* style for news items properties form, i.e. the newsitemtemplate
   when using content layout */
.newsproperties {
 float: right;
}

.newsproperties .form-display-label {
  font-weight: bold;
}
.newsproperties .form-display-row:hover {
  background-color: #EEE;
}
/* end style for news items properties form */

/* Style is reflection */

/* stylesheet for silva find search and searchresult pages */

.searchform input, .searchform select, .searchform textarea {
  width: 94%;
}

*:first-child+html .searchform input, *:first-child+html .searchform select, *:first-child+html .searchform textarea {
  width: 99%; /* IE7 hack */
}

div.searchform input.searchform-submit {
  width:auto;
}

.searchform-title {
  width: 20%;
  padding-top:0.25em;
  padding-right:0.3em;
}

.searchform-title:after {
  content:':';
}

.searchform-description {
  width: 35%;
  padding-top:0.25em;
  padding-left:0.5em;
}

.searchresult-header {
  margin: 0.5em 0;
  padding:0 0.3em;
  border:1px solid #898a8b;
}

.searchresult-header span {
  font-size:11px;
}

div.searchresult-header a:link {
  text-decoration:none;
}
div.searchresult-header a:visited {
  text-decoration:none;
}
div.searchresult-header a:hover {
  text-decoration:underline;
}

body div#content div.searchresults ul li {
  list-style-type:none;
  margin:0.5em 0.5em 1.5em 0;
}

div.searchresult {
  margin-top:1em;
}

.searchresult-ranking {
  float:right;
  font-size:0.95em;
}

.searchresults .batchNav a {
  font-size: 85%;
}

.searchresult-link {
  font-weight:bold;
}
.searchresult-date:before {
  content:'(';
}
.searchresult-date{
  font-size:0.85em;
}
.searchresult-date:after {
  content:')';
}
.searchresult-field {
  display:block;
  margin-left:2em;
  padding-left:10em;
  border-bottom:1px solid #898a8b;
}
.searchresult-field-title {
  float:left;
  margin-left:-10em;
  font-style:italic;
}

.searchresult-snippet{
  margin-left:2em;
}

.searchresult-notallowed {
  color:red;
}

.searchresult-thumbnail {
  margin-left:2em;
  padding-top:0.25em;
  padding-bottom:0.25em;
}

.searchresult-breadcrumb {
   margin-left:2em;
   display:block;
}

.searchresult-nomatch {
  border-radius: 3px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px; padding:0.2em 0.5em;
  text-align:center;
  }

}/* end of screen */

/* style for print */

@media print {

  h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
  }

  h1 {
  font-size: 24pt;
  }

  h2 {
  font-size: 18pt;
  margin: 15px 0;
  }

  h3 {
  font-size: 16pt;
  }

  h4, h5 {
  font-size: 14pt;
  }

  p {
  margin: 0 0 5px;
  }

  p.annotation {
  clear: both;
  font-size: 85%;
  margin-bottom: 20px;
  font-style: italic;
  }

  img {
  max-width: 100%;
  border: 1px solid #ddd;
  }

  /* hide non interesting items for printing */
  #header, #sidebar, #footer, #legal {
    display: none;
  }

  /* max content area */
  #content {
    width: 100%;
    margin: 0;
    float: none;
  }

  /* reset backgrounds */

  body {
    background: #fff;
  }

  #content, #site {
  background: transparent;
  }

  /* make linkst stand out */

  a:link, a:visited {
	color: #06C !important;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
  }

  /* set fonts */

  body {
    font-family: Georgia, "Times New Roman", serif;
  }

  /* set font size */

  p {
    font-size: 12pt;
  }

  /* align */

  #page {
    margin: 0;
  }

}/* end print styling */




