/* Typography for Infrae sites */
h1 { font-size:2.2em; margin:0 0 0.5em; }
h2 { font-size:1.8em; margin:0 0 0.5em; }
h3 { font-size:1.4em; margin:1em 0 0.5em; }
h4 { font-size:1.2em; margin:1.1em 0 0.4em; }
h5 { font-size:1.1em; margin:1.2em 0 0.3em; }
h6 { font-size:1.0em; margin:1em 0 0.2em; }

p, ul, ol, dl { margin-bottom:1em; }
ul, ol { margin-left:1.8em; }
li { margin-bottom:0.5em; }
dt { display:block; }
dd { margin:0.2em 0 1em; padding-left:1.3em; }
pre { margin-bottom:1em; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
a:hover, a:active { outline:none; }

table { border-collapse:collapse; border-spacing:0; }
th, td { padding:3px; }
th { text-align:left; }
td, td img { vertical-align:top; }

p.lead { font-size:110%; }
p.annotation { font-size:95%; }

/* alignments */
.align-left { }
.align-right { float:right; clear:both; }
.float-left { float:left; }
.float-right { float:right; } /* display:none in mobile skin */
div.image-left { float:left; margin:2px 6px 5px 0; } /* icons midline */
div.image-center { text-align:center; margin:0; }
div.image-right { float:right; margin:8px 0 10px 20px; }
img.default { margin-bottom:0.7em; }
img.float-left { margin:6px 10px 5px 0; } /* nested cap height */
img.float-right { margin:6px 0 5px 10px; }  /* nested x height */

/* login form */
div.login-form { width: 25em; }
div.login-form p { line-height:inherit; }
/* for a stacked form remove floats and heights */
div.login-form div.form-element { height: 2em; }
div.login-form div.form-title { height: 1.6em; font-size: 1.2em; font-weight: bold; }
div.login-form div.form-label { float: left; width: 6em; }
div.login-form div.form-label label { display: block; margin: 0.2em 0 0; }
div.login-form div.form-field input[type="text"],
div.login-form div.form-field input[type="password"]
  { float: right; width: 18em; }
div.login-form div.form-actions { text-align:right; }
div.login-form div.form-actions input.submit { height: 1.8em; font-weight: bold; }
div.login-form div.form-actions input.cancel { float: left; height: 1.8em; }
div.login-form div div.warning { height: 2em; margin-bottom: 0.5em; }
